<h1>Login</h1>

<form [formGroup]="loginForm">
	<input type="text" placeholder="Username" formControlName="username"/> <br/>
	<div class="err" *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.dirty">
		Username is required
	</div>
	<input type="text" placeholder="Password" formControlName="password"/>
	<div class="err" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.dirty">
		<div *ngIf="loginForm.controls.password.errors.required">Password is Required!</div>
		<div *ngIf="loginForm.controls.password.errors.minlength">Password should be more than 4 characters!</div>
	</div>
	<input type="button" value="submit" [disabled]="loginForm.invalid"/>
</form>