<input placeholder="Name" type="" name="" [(ngModel)]="form.name">
<input placeholder="Phone" type="" name="" [(ngModel)]="form.phone">
<input placeholder="Address" type="" name="" [(ngModel)]="form.address">

<button (click)="addContact()">Add</button>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone No</th>
			<th>Addres</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr app-list-item (onDelete)="onChildDelete(i)" [item]="contact" *ngFor="let contact of contacts; let i = index">
			
		</tr>
	</tbody>


</table>
