.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.app>.header {
	height: 52px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d9d9d9;
	font-size: 19px;
	padding: 0 18px;
}
.content {
	display: flex;
	flex-grow: 1;
}
.content >.sidebar {
	width: 300px;
	border-right: 1px solid #d0d9d9;
}
.list {
	padding: 0;
	margin: 0;
}
.list>li {
	list-style: none;
	padding: 11px;

}

.list>li.active {
	background-color: #eee;
}

.list>li:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.content >.container {
	padding: 11px;
}